-var project_default = project[0][0], project_dev = project[1];
- var projectPercent = 0, barStatus = '', projectStatus = '', barActive = 'active';
- if(project_default['상태'] == 0) projectStatus = '접수';
- if(project_default['상태'] == 1) {projectStatus = '검토'; barStatus = 'progress-bar-primary';}
- if(project_default['상태'] == 2) {projectStatus = '개발'; barStatus = 'progress-bar-primary';}
- if(project_default['상태'] == 3) {projectStatus = '개발테스트'; barStatus = 'progress-bar-primary';}
- if(project_default['상태'] == 4) {projectStatus = '개발완료'; barStatus = 'progress-bar-primary';}
- if(project_default['상태'] == 5) {projectStatus = '사용테스트'; barStatus = 'progress-bar-primary';}
- if(project_default['상태'] == 6) {projectStatus = '완료'; barStatus = 'progress-bar-success'; barActive = '';}
- if(project_default['상태'] == 7) {projectStatus = '보류'; barStatus = 'progress-bar-warning'; barActive = '';}
- if(project_default['상태'] == 10) {projectStatus = '취소'; barStatus = 'progress-bar-danger'; barActive = '';}
- if(project_default['상태'] > 0 && project_default['상태'] < 6) projectPercent = project_default['상태'] * 16.7;                
- else if(project_default['상태'] >= 6 ) projectPercent = 100;             
//- div= JSON.stringify(project_default,null, 4)
div.wrapper.wrapper-content.animated.fadeInUp
  div.ibox
    div.ibox-content
      div.row
        div.col-lg-12
          div.m-b-md
            a.btn.btn-info.btn-sm.pull-right 프로젝트 수정                                     
            h3 ( #{project_default["프로젝트ID"]} ) #{project_default["프로젝트명"]}
          dl.dl-horizontal
            dt 진행상태            
            dd
              div(class="progress progress-striped #{barActive}")
                  div(style='width:#{projectPercent}%;' class="progress-bar #{barStatus}") 
              | #{projectStatus}     
      div.row
        div.col-lg-5.col-md-6.col-sm-6
          dl.dl-horizontal
            dt 등록자
            dd #{neoMembers.GetUser(project_default["등록자"]).USER_NAME}
            dt 등록일자
            dd #{project_default["등록일자"]}
            dt 프로그램 
            dd #{project_default["프로그램"] === 0 ? '공통' : emrs[project_default["프로그램"]].name}              
            dt 요청병원
            dd #{project_default["요청거래처"] === "" ? '미등록' : project_default["요청거래처"]}
        div.col-lg-7.col-md-6.col-sm-6
          dl.dl-horizontal
            dt 개발 참여자
            dd 
              div.team-members
                - if(!project_dev.length)
                  button.btn.btn-info.btn-outline.btn-xs 미정
                - else {
                -   project_dev.forEach(function(dev){
                    button.btn.btn-info.btn-outline.btn-xs #{neoMembers.GetUser(dev["개발자"]).USER_NAME}
                -   });
                - }              
            dt 개발기간
            dd 
              - if(project_default["개발시작일"] && project_default["개발종료일"]) {
              -   var startDate = new Date(project_default["개발시작일"]); 
              -   var endDate = new Date(project_default["개발종료일"]);
              -   var btMs = endDate.getTime() - startDate.getTime();
              -   var btDay = btMs / (1000*60*60*24);
                  #{btDay}
              - } else
                  | 미정
            dt 개발비용
            dd #{project_default["개발비용"] !== 0 ? project_default["개발비용"] : '미정' }
            
      
    div.ibox-footer
      p.m-b-md        
        span.pull-right 마지막 수정일자 : #{project_default["수정일자"]}       
    div.ibox-content
      include ./detail_history.jade        
